*{
    margin: 0;
    padding: 0;
}
p,h3{
   font-family: 'Roboto Condensed', sans-serif;
}
.logo span {
   font-family: 'Paytone One', sans-serif;
   text-shadow: 1px 1px 1px #ddd;
   margin-left: 10px;
}
 img{
    width: 100%;
 }
 .logo img{
   width: 35px;
 }
 .menu a{
    text-decoration: none;
    margin: 0 14px;
 }
 .menu a:last-child{
    margin: 0 !important;
    color: red;
 }
 .menus{
 padding: 10px 0;
 }
 header{
   background: #17c0eb;
 }
 #name{
   color:  #17c0eb;
 }
 .home-text h3{
   font-size: 25px;
   font-weight: 500;
 }
  .home-text h1{
   font-size: 25px;
   font-weight: 500;
   margin: 10px 0;
 }
 .home-text p{
   font-size: 20px;
   font-weight: 400;
 }
 .menu-bar{
    display: none;
 }
 .line-1,.line-2 ,.line-3
{
    width: 25px;
    border-radius: 10px;
    height: 3px;
    background: #000;
    margin: 6px 0;
}
.menu{
   display: flex;
   align-items: center;
}
.home{
   margin-top: 30px;
}
.home-image{

text-align: right;
}
@media(max-width:768px){
    .menu-bar{
        display: block;
        z-index: 1;
    }
    .menus{
      position: relative; 
      
    }
   .home-text{
      text-align: center;
   }
    .home-text h3{
      text-align: center;
    }
     .home-text h1{
      font-size: 22px;
      font-weight: 500;
      text-align: center;
      background: #17c0eb;
      border-radius: 6px;
    }
    .home-image{
   text-align: center;
    }
    .home-image img{
      width: 100% !important;
    }
   
}
